/*========================= GOOGLE FONTS =========================*/
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
/*========================= VARIABLES CSS =========================*/
:root {
  /*____________________ Colors ____________________*/
  --clr-dark: #101415;
  --clr-light: #F7F5F2;
  --clr-theme: #001AFF;
  --clr-hover: orangered;

  /*____________________ Font and typography ____________________*/
  --font-family-text1: 'Lexend', sans-serif;
  --font-family-text2: "Poppins", sans-serif;
  --font-family-text-barcode: 'Libre Barcode 128 Text', cursive;

  /*____________________ Font Size ____________________*/
  /* Desktop Font size */
  --fs-subtext: 1.25rem;
  --fs-text: 1.5rem;

  --fs-subtitle: 2rem;
  --fs-title: 2.5rem;

  /*____________________ Font Weight ____________________*/
  --fw-medium: 300;
  --fw-semi-bold: 400;
  --fw-bold: 500;

  /*____________________ z index ____________________*/
  --z-lowest: -10;
  --z-low: -5;
  --z-high: 5;
  --z-highest: 10;
}

/*____________________ Title and Text ____________________*/
.text__logo {
    font-size: var(--fs-huge);
    font-weight: 200;
}
.text__title {
    font-size: var(--fs-title);
}
.title__small {
    font-size: var(--fs-subtext);
    font-weight: 400;
}
.text__subtitle {
    font-size: 1.125rem;
    margin-top: 5px;
}
/*========================= BASE =========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--fs-text);
  font-weight: var(--fw-medium);
  font-family: var(--font-family-text1);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  letter-spacing: 2.75px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.mandatory__scroll {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    
}
.mandatory__scroll > section {
    scroll-snap-align: center;
}
/*========================= CONTACT SIDE BAR =========================*/
.contact__sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: var(--z-high);
    overflow-x: hidden;

    width: 60px;
    height: 60px;
    letter-spacing: 1.5px;
    background-color: var(--clr-light);
    transition: 1s ease-in-out;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.contact__sidebar.contact__active {
    width: 550px;
    height: 300px;
    margin-left: 60px;
    border: 1px solid var(--clr-dark);
}
.contact__sidebar .contact__toggle {
    position: relative;
    width: 100%;
    height: 60px;
    cursor: pointer;
    background-color: var(--clr-dark);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__sidebar.contact__active .contact__toggle {
    justify-content: start;
    padding-left: 20px;
}
.contact__sidebar .contact__toggle::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 3.5px;
    background: var(--clr-light);
    transform: translateY(-5px);
    transition: 0.5s;
}
.contact__sidebar .contact__toggle::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--clr-light);
    transform: translateY(5px);
    transition: 0.5s;
}
.contact__sidebar.contact__active .contact__toggle::before {
    transform:  translateY(0px) rotate(45deg);
}
.contact__sidebar.contact__active .contact__toggle::after {
    transform:  translateY(0px) rotate(-45deg);
}
.contact__info {
    display: none;
}
.contact__sidebar.contact__active .contact__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact__profile {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45%;
    border-radius: 10px;
    box-shadow: rgba(139, 134, 134, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.contact__img {
    width: 70%;
    overflow: hidden;
}
.contact__socialmedia {
    width: 35%;
}
.profile__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gooey {
    background-image: linear-gradient(120deg, #818181 0%, #121212 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    animation: morph 2.5s linear infinite;
}
  
@keyframes morph {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      opacity: 0.89;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}
.contact__sidebar .contact__links {
    position: relative;
    width: 100%;
    margin: 10px 0;
    transition: 0.5s;
    padding: 10px;
}
.contact__sidebar .contact__links li a {
    position: relative;
    display: flex;
    color: var(--clr-dark);
}
.contact__sidebar .contact__links li a:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.contact__sidebar .contact__links li a .contact__icon {
    position: relative;
    width: 60px;
    height: 50px;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__sidebar .contact__links li a .contact__icon-text {
    position: relative;
    height: 50px;
    font-size: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*========================= REUSE SECTION =========================*/
.page__section {
    width: 100%;
    height: 100vh;
    padding: 60px;
}
.text__bg-black {
    display:inline-block;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 3px 6px;
    text-align:center
}
button {
    margin-top: 2rem;
    padding: 20px 10px;
    text-align:center;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    transition: 0.875s;
    cursor: pointer;
}
button:hover {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

/*========================= About SECTION =========================*/
.about__section {
    display: flex;
    justify-content: space-between;
}
.about__left {
    width: 550px;
    align-self: flex-end;
}
.about__mid {
    width: 365px;
    height: 500px;
}
.about__right {
    width: 365px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about__right-top{
    height: 500px;
}
.about__right-bot {
    height: 350px;
}



.about__title {
    margin: 10px 0;
    font-size: 1.125rem;
}
.about__title .title__name {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}
.about__title .title__bold {
    font-size: 4rem;
}
.about__subtitle {
    font-size: 14px;
    line-height: 1.75;
    margin: 1rem 0 2rem 0;
}
.about__line {
    width: 100%;
    height: 1.5px;
    background-color: var(--clr-dark);
}
.about__img-container{
    width: 100%;
    height: 350px;
    border: 1px solid var(--clr-dark);
    
    display: flex;
    justify-content: center;
}
.about__img {
    width: 90%;
    margin: 2rem;
    object-fit: cover;
}

.skill__container {
    font-size: 14px;
}
.skill__title {
    font-size: 1rem;
    font-weight: 400;
}
.about__skill {
    margin-top: 20px;
}
/*========================= Studio SECTION =========================*/
.studio__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.studio__top-container {
    height: 550px;
    display: flex;
    justify-content: space-between;
}
.studio__info {
    width: 500px;
    height: 400px;
    font-size: 1rem;
    align-self: flex-end;
}
.studio__info .text__subtitle {
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    margin: 1rem 0 2rem 0;
    line-height: 1.5;
}
.studio__info .text__link {
    font-weight: 400;
    margin-bottom: 5px;
}


.studio__work {
    display: flex;
    justify-content: end;
}
.accordion__container {
    width: 600px;
}
.accordion__item {
    position: relative;
    margin: 0px 10px 5px 10px;
}
.accordion__line {
    border: 1px solid var(--clr-dark);
}
.accordion__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.875rem 0;
    color: var(--clr-dark);
}
.accordion__label {
    position: relative;
    padding: 0.5rem 0;
    cursor: pointer;
}
  
.accordion__title {
    font-size: 1rem;
    font-weight: 400;
}
.accordion__sign {
    position: absolute;
    right: -5px;
    color: var(--clr-dark);
    font-size: 1.5rem;
}

.accordion__tags {
    display: flex;
    margin: 0.5rem auto 0;
}
.accordion__tags li {
    font-size: 12px;
    padding-right: 5px;
}
.accordion__link .uil-times{
    display: none;
}
.accordion__content {
    max-height: 0;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    border: 0;
    transition: max-height 0.4s;

    display: flex;
    align-items: center;
}
.accordion__content .accordion__text{
    font-size: 15px;
    padding: 1.75rem;
}
.accordion__item:target .accordion__content {
    max-height: 150px;
    border: 1px solid var(--clr-dark);
}
.accordion__item:target .accordion__link .uil-plus {
    display: none
}
.accordion__item:target .accordion__link .uil-times {
    display: block;
}




.studio__imgs-container {
    height: 250px;
    justify-self: end;
}
.swiper {
    width: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    /* width: 90%;
    height: 90%; */
    
    object-fit: cover;
    filter: grayscale(1);
    border: 1px solid var(--clr-dark);
}
/*========================= MAIL SECTION =========================*/
.mail__section {
    display: flex;
    flex-direction: column;
}
.mail__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.mail__square {
    width: 550px;
    height: 520px;
    font-size: 1rem;
    font-weight: 400;
    align-self: flex-end;

    color: var(--clr-dark);
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-light);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.875s;
}

.mail__square:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.mail__title {
    font-weight: 500;
    font-size: 6rem;
    margin: 40px 0;
}

.mail__links > ul {
    display: flex;
}

.mail__barcode {
    font-size: 50px;
    font-family: var(--font-family-text-barcode);
    margin: 60px 0;
}
/*________________________MAIL Form______________________*/
.mail__form{
    width: 600px;

}
.mail__info {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.form__input {
    width: 100%;
    display:block;
    border:none;

    padding:20px;
    margin-bottom: 20px;
    background-color: var(--clr-light);
    border-bottom: 1px solid var(--clr-dark);
}
textarea {
    height: 200px;
}

.footer__section {
    align-self: center;
    width: 100%;
    height: 60px;
    color: var(--clr-light);
    background-color: var(--clr-dark);

    display: flex;
    align-items: center;
}
.footer__text {
    margin-left: 20px;
}
